@model ModulAR.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Deseas eliminar cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nif)
        </dd>
    </dl>
    
    @if (ViewBag.HasOrders)
    {
            <div class="alert alert-danger" role="alert">
                No se puede eliminar el cliente porque tiene pedidos asociados.
            </div>
    }
    else
    {
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                
            </form>
    }

    <a asp-action="Index">Volver</a>
</div>
