@model IEnumerable<ModulAR.Models.Producto>

@{
    var categoriasCount = (ViewData["Categorias"] as List<ModulAR.Models.Categoria>)?.Count ?? 0;
    var productosCount = (ViewData["Productos"] as List<ModulAR.Models.Producto>)?.Count ?? 0;
}

<link rel="stylesheet" href="../css/site.css" />


<div class="contenedor">
  <div class="elemento" >
      

      @*BUSQUEDAS *@
   <div class="row" style="width:80%">
       <h1>Escaparate</h1>
      <br />
     <div class="col-8">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group" style="display:flex; flex-direction:row">
                <input type="text" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Buscar nombre, precio o categoría" class="form-control" />
                <button type="submit" class="btn btn-primary" style="margin-left:15px">Buscar</button>
                
            </div>
        </form>
     </div>
     <div class="col-4"><p><a asp-action="Index" asp-controller="Escaparate">Lista Completa</a></p></div> 
    </div>
  </div>

<br />
<div style="display: flex;">

    <!-- Lateral izquierdo con categorías -->
    <div class="elementoCategoria">
        <h4>Categorías</h4>
        <ul>
            @foreach (var categoria in ViewData["Categorias"] as List<ModulAR.Models.Categoria>)
            {
                <li style="list-style:none">
                   <a href="?categoryId=@categoria.Id">@categoria.Descripcion</a>
                </li>
            }
        </ul>
    </div>

    <!-- Sección central con productos -->
    <div class="productos" style="flex: 4; padding: 10px; overflow-y: auto;"> @*PARA AGREGAR OVERFLOW*@          
        <h3>@(ViewData["CategoriaSeleccionada"])</h3>
        <br />
        @*<h2>Productos</h2>*@

        <div id="productosContainer" style="display: flex; flex-wrap: wrap; gap: 20px;">

            @foreach (var producto in Model)
            {
                    
               
                var nombreImagen = "imagen-no-disponible.jpg";
                if (producto.Imagen != null)
                   {
                      nombreImagen = producto.Imagen; //aquí obtiene el nombre de la imagen
                   }

                    <div class="boxEscaparate" style="position: relative;  overflow: hidden;">
                        <img src="~/imagenes/@nombreImagen" style="object-fit: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0;" asp-append-version="true" />

                    <!-- Imagen del producto -->
                    @*<img src="~/imagenes/@producto.Imagen" alt="@producto.Descripcion" style="max-width: 100%; max-height: 100px;">*@
                       <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;">
                    <!-- Descripción del producto -->
                    <h4>@producto.Descripcion</h4>
                    
                    <!-- Precio del producto -->
                    <p>Precio: @producto.PrecioCadena €</p>

                    <!-- Descripción del producto -->
                    @*Stock: @producto.Stock*@


                    <!-- Botón para añadir al carrito (modal) -->
                            <button id="btnBox" type="button" class="btn btn-primary" style="margin-top:30px; background-color:rgba(255, 255, 255, 0.4) !important" data-bs-toggle="modal" data-bs-target="#modalCarrito-@producto.Id">
                        Ver más
                    </button>
                    </div>
                    <!-- Modal -->
                        <div class="modal fade" id="modalCarrito-@producto.Id" tabindex="-1" aria-labelledby="modalCarritoLabel-@producto.Id" aria-hidden="true">
                        <div class="modal-dialog modal-xl" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCarritoLabel-@producto.Id">Añadir al Carrito</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body" style="background: #e7e7e762; height:41vw">
                                    <!-- Contenido del modal -->
                                    <div class="lado1">
                                            <img src="~/imagenes/@nombreImagen" style="object-fit: cover;  object-position: center;  position: absolute; top:0; left:0;" asp-append-version="true" />
                                    </div>
                                        <div class="lado2" >
                                        <h2> @producto.Descripcion</h2>
                                        <p style="font-style:oblique">@producto.Texto</p>
                                        <br>
                                        @* <p>Stock: @producto.Stock</p> *@
                                        <p>Precio: @producto.PrecioCadena € <br>
                                        Categoría: @producto.Categoria.Descripcion</p>

                                        <form asp-action="AgregarCarrito" asp-controller="Escaparate" method="post">
                                            <input type="hidden" name="id" value="@producto.Id" />
                                            <input type="hidden" name="stock" value="@producto.Stock" />

                                            

                                            <div class="form-group" style="display:flex; flex-direction: row; justify-content:center; align-content:center">
                                                <p>Cantidad:</p>
                                                <input style="margin-left:10px;width:120px" type="number" name="cantidad" class="form-control" value="1" min="1" max="@producto.Stock" required />
                                            </div>
                                            <small class="text-muted">Máximo Disponible: @producto.Stock</small>
                                            <br>
                                            <button type="submit" class="btn btn-primary" style="margin-top:20px;margin-bottom:10px">Añadir al Carrito</button>
                                        </form>
                                    </div>
                                    <!-- Fin del contenido del modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--fin de div-->
            }

        </div>

    </div>
</div>
</div>