@model ModulAR.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Deseas eliminar este pedido?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preparado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preparado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enviado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enviado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devuelto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devuelto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anulado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>
    </dl>
    


    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    else
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </form>
    }
    <a asp-action="Index">Volver</a>
</div>
